* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.container_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 1);
    width: 100vw;
    height: 60px;
}

.text_top {
    color: rgba(249, 249, 249, 1);
    font-size: 16px;
}

.container_top.logo {
    background-color: #F9F9F9;
}

.text_top.logo {
    font-size: 24px;
    font-weight: 600;
    color: rgba(24, 24, 24, 1);
}

.fundo_banner {
    background-image: url(/images/template.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 378px;
}

.container_banner {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 378px;
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.6);
}

.container_text {
   max-width: 470px;
}

.title_banner {
    font-size: 32px;
    font-weight: 700;
    color: rgba(249, 249, 249, 1);
    padding-bottom: 10px;
}

.text_banner {
    font-size: 18px;
    font-weight: 600;
    color: rgba(249, 249, 249, 1);
    line-height: 35.31px;
}

.container_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
}

.title_desc {
    font-size: 32px;
    font-weight: 600;
    color: rgba(24, 24, 24, 1);
    padding-bottom: 15px;
}

.text_desc {
    color: rgba(71, 71, 71, 1);
    font-size: 18px;
    text-align: center;
}

.container_jordan {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box_jordan {
    display: flex;
    align-items: center;
    background: rgba(235, 233, 234, 1);
    width: 300px;
    height: 302px;
    margin-bottom: 30px;
}

.container_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 1);
    width: 100vw;
    height: 130px;
    margin-top: 100px;
}

.container_bottom {
    color: rgba(249, 249, 249, 1);
    font-size: 16px;
}

.container_bottom a {
    text-decoration: none;
    color: #F9F9F9;
    font-weight: bold;
}

.container_bottom a:hover {
    color: rgba(71, 71, 71, 1);
}

.copy_code {
    padding-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 425px) {
    
    .fundo_banner {
        background-image: url(/images/template-mobile.png);
        background-position: center;
        background-size: cover;
        width: 100vw;
        height: 377px;
    }

    .container_banner {
        padding: 10px;
        text-align: left;
        height: 358px;
    }

    .title_banner {
        font-size: 26px;
    }

    .text_banner {
        font-size: 15px;
    }

    .container_bottom {
        margin-top: 10px;
    }
}
