.container_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12.5rem;
}

.title_desc {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(24, 24, 24, 1);
  margin-bottom: 0.9375rem;
}

.text_desc {
  color: rgba(71, 71, 71, 1);
  font-size: 1.125rem;
  text-align: center;
}

.container_jordan {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box_jordan:hover {
  transform: translateY(-10px);
  transition: all ease 1s;
  background-color: rgba(71, 71, 71, 1);
}

.box_jordan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 233, 234, 1);
  width: 18.75rem;
  height: 18.875rem;
  margin-bottom: 1.875rem;
}